body {
    background: #fefff9;
    color: #291e09;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #393939;
  }
  
  .bg-steel {
    background-color: #242422;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #dde8ee;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #cd1f1f;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 20px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }