{% extends "layout.html" %}
{% block content %}
<div class = "content-section">
<form action="" method="post" id = "login_form">
    {{form.hidden_tag()}}
    <fieldset class="form-group">
        <legend class = "border-bottom md4"> Login </legend>
            {% for field in form if field.name != "csrf_token" and field.name!="submit" and field.name!="remember"%}
        <div class = "form-group">
        {{ field.label(class = "form-control-label") }}
        {{ field(class = "form-control form-control-lg") }}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endfor %}
        {{form.remember(class = "form-check-input")}}
        {{form.remember.label(class = "form-check-label")}}
            <div class = "form-group border-bottom md4">
        {{form.submit(class = " btn btn-md btn-outline-info")}}
        </div>
        </fieldset>
</form>
<small class="text-muted">
    Don't have an Account? <a class = "ml-2" href = "{{url_for('register')}}" >Sign up here.</a>
    Forgot Password? <a class = "ml-2" href = "{{url_for('reset_request')}}" >Reset it.</a>

</small>
</div>



{% endblock content %}